{% extends "layout.html" %}
{% block content %}
    <h1>Our Aim</h1>
    <p>
        The aim of the National 3D Printing Society is to connect like minded societies to allow cooperation and help further the field of student 3D printing. We believe 3D printing is a technology that all students should have access to in some form, and we want to help facilitate the starting of more societies around the country.
        The Network aims to aid in sharing knowledge between universities, with the ultimate goal of creating a generation of graduates that have the skills to use rapid prototyping and other related technologies in a realistic and useful way.
        There will be a range of types of society that the Network aims to work with. Whilst many 3D printing related societies will be born out of engineering departments, there is huge scope for student work in architectural, medical, arts and humanitarian fields – to name but a few. The Network embraces this diversity and it would be in the best interest for the collective skills and resources of the Network to try to maximise the breadth of societies involved.
        For students looking to start 3D printing related societies in particular, the Network exists to put you in contact with other students who have had similar experiences to you. We can offer guidance and advice, and help with things like branding and finding projects or sponsors.
        For existing 3D printing related societies, we can connect you with your counterparts in other universities and help raise the profile of your society around the country.
        For existing societies that want to get involved in 3D printing, we can offer technical advice to help you get your plans off the ground.
    </p>
{% endblock content %}