{% extends "layout.html" %}
{% block content %}
<section>
    <div class="container p-5">
        <div class="row">
          <div class="col-8 col-sm-6 col-lg-6">
            <img src="{{ image_file }}" alt="thumbnail" class="img-thumbnail">
          </div>
          <div class="col-5 col-lg-3">
            <div class="card teal">
                <div class="card-body">
                    <h6 class="font-weight-bold cyan-lighter-hover mb-3">Points Pending</h6>
                </div>
            </div>
          </div>
          <div class="col-5 col-lg-3">
            <div class="card teal">
                <div class="card-body">
                    <h6 class="font-weight-bold cyan-lighter-hover mb-3">Points</h6>
                </div>
            </div>
          </div>
        </div>
        <div class="row p-3">
            <div class="col-9 col-lg-6">
            </div>
            <div class="col-9 col-lg-6">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">My Account Info</legend>
                        <div class="form-group">
                            {{ form.fname.label(class="form-control-label") }}
                            {% if form.fname.errors %}
                                {{ form.fname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.fname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.fname(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.lname.label(class="form-control-label") }}
        
                            {% if form.lname.errors %}
                                {{ form.lname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.lname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.lname(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
        
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.picture.label() }}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-default btn-rounded waves-effect") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}