{% extends "layout.html" %}
{% block content %}
<div class="content-section p-5">
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Product</legend>
            <div class="form-group">
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}