{% extends "layout.html" %}
{% block content %}
    <section>
        <div class="container p-5">
            <div class="col-sm-12 table-responsive">
                <table class="display table table-striped text-center table-bordered table-sm dataTable"
                cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
                    <thead>
                        <th>FDM Number</th>
                        <th>Order Number</th>
                        <th>Username</th>
                        <th>Product</th>
                        <th>Delivery Method</th>
                        <th>Quantity</th>
                        <th>Delivered Quantity</th>
                        <th>Material Used</th>
                        <th>Filament Brand</th>
                        <th>At Igus</th>
                        <th>Amend Order</th>
                    </thead>
                    <tr  role="row" style="background-color: #bbb">
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
{% endblock content %}