{% extends "layout.html" %}
{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4"style="text-align:center">
                <a class="btn btn-rounded btn-default btn-lg" href="#">Approvals</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4" style="text-align:center">
                <a class="btn btn-rounded btn-default btn-lg" href="{{ url_for('manage.admin_donate') }}">Donation view</a>
            </div>
            <div class="col-md-4" style="text-align:center">
                <a class="btn btn-rounded btn-default btn-lg" href="#">Account Overview</a>
            </div>
            <div class="col-md-4" style="text-align:center">
                <a class="btn btn-rounded btn-default btn-lg" href="#">Redeem</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4" style="text-align:center">
                <a class="btn btn-rounded btn-default btn-lg" href="{{ url_for('manage.manageproduct') }}">Create Product</a>
            </div>
            <div class="col-md-4" style="text-align:center">
                <a class="btn btn-rounded btn-default btn-lg" href="#">Admin Overview</a>
            </div>
            <div class="col-md-4" style="text-align:center">
                <a class="btn btn-rounded btn-default btn-lg" href="#">Add stock</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}