{% extends "layout.html" %}
{% block content %}
    
    <section>
        <div class="row mx-1">
            <div class="col-md-12 mb-4">
                <div class="card card-image" style="background-image: url('/static/images/latest-design-stacks.png'); background-repeat: no-repeat; background-size: 100%; background-position: center center;">
                    <div class="text-white text-left d-flex align-items-center rgba-black-light py-5 px-4">
                        <div class="p-5">
                            <h1 class="card-title py-3">Supplying the nation with PPE</h1>
                            <p class="pb-3">
                                Please sign up to be added to the N3DPS COVID-19 database. Working with Medical Supply Drive UK, N3DPS has assembled a manufacturing and distribution
                                network to help meet the PPE demand during this national pandemic.
                            </p>
                            <button class="btn btn-rounded btn-outline-white" href="{{ url_for('main.covid19') }}">Find Out More</button>
                            <button class="btn btn-rounded btn-outline-white" href="{{ url_for('users.signup') }}">Sign up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container ">
        <div class="row">
            <div class="col">
                hello 
            </div>
            <div class="col">
                slack
            </div>
        </div>
    </div>
        
   
{% endblock content %}