  
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>N3DPS</title>
    {% endif %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="https://national3dprintingsociety.co.uk">
                <img src="static/images/N3DPS-Logo-RT.png" class="d-inline-block align-top" alt="N3DPS" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <!-- this is temp -->
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="https://national3dprintingsociety.co.uk">Main Site
                  </a>
                </li>
              </ul>

              <!-- end of temp -->
              <!-- <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Medical AM (COVID-19)
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">What We Offer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Universities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Donate</a>
                </li>
              </ul> -->
              <ul class="navbar-nav ml-auto nav-flex-icons">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('store.redeem') }}">Redeem</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('store.donate') }}">Donate</a>
                </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('users.account') }}">
                  <i class="fas fa-user"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                </li>
                  {% if current_user.level >= 2 %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('manage.admin') }}">Admin</a>
                    </li>
                  {% endif %}
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('users.signup') }}">Signup</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a href="https://twitter.com/N3DPS" class="nav-link waves-effect waves-light">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://www.facebook.com/N3DPS/" class="nav-link waves-effect waves-light">
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/n3dps" class="nav-link waves-effect waves-light">
                      <i class="fab fa-instagram"></i>
                    </a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

    <footer class="page-footer font-small">
        <div class="container">
        <div class="footer-copyright row justify-content-center">
            <h2>
                Proudly Supported By
            </h2>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-auto">
                <a href="https://intigo3d.com/">
                    <img src="static/images/intigo_n3dps.png" alt="Intigo" height="100">
                </a>
            </div>
            <div class="col-12 col-md-auto">
                <a href="https://3dgbire.pro/">
                    <img src="static/images/3dgbire.jpg" alt="3DGBIRE" height="100">
                </a>
            </div>
            <div class="col-3 col-md-auto">
                <a href="https://projectsbeyondborders.com/">
                    <img src="static/images/pbb_n3dps-1.png" alt="Projects Beyond Borders" height="100">
                </a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-auto">
                <a href="https://www.powerhousehub.com/">
                    <img src="static/images/mediasphere.png" alt="Media Sphere" height="100">
                </a>
            </div>
            <div class="col-12 col-md-auto">
                <a href="https://uk.rs-online.com/">
                    <img src="static/images/rs-components.jpg" alt="RS Components" height="100">
                </a>
            </div>
        </div>
        </div>
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright: National 3D Printing Society
        </div>
    </footer>
</body>
</html>