{% extends "layout.html" %}
{% block content %}
    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col" style="text-align:right">
                    <a class="btn btn-rounded btn-default btn-lg" href="{{ url_for('manage.addproduct') }}">Add stock</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table class="display table table-striped text-center table-bordered table-sm dataTable"
                    cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
                        <thead>
                            <th>Picture</th>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Discription</th>
                            <th>value</th>
                            <th>Location</th>
                            <th>Edit</th>
                        </thead>
                        <tr role="row" style="background-color: #bbb">
                            <td>
                                0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                edit button
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}