{% extends "layout.html" %}
{% block content %}
<section>
    <div class="container justify-content-center">
        <article style="width: 1000px; border: 2px solid gray;  
              padding: 5px; border-radius: 10px;  
                              margin:5px;"> 
        
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="font-weight-bold">Filament</h2>
                            <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="RS Components" height="100">
                        </div>
                        <div class="col-md-4">
                            <h1 class="font-weight-bold">150</h1>
                            <h2 class="font-weight-bold">Cost</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-7">
                            <p>This is where the description will go.This is where the description will go.This is where the description will go.This is where the description will go.</p>
                        </div>
                        <div class="col-md-5">
                            <button type="button" class="btn btn-outline-success waves-effect align:center">Redeem</button>
                        </div>
                    </div>
                </div>   
            </div>
        </article>
    </div>
</section>
{% endblock content %}